/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #0f172a;

  --decor-color: #FF0070;        /* уголки + REC */
  --button-color: #FF0070;       /* текст кнопок */
  --button-hover: rgb(255 0 112 / 0.4);


  --accent-color: #FF0070;       /* фон заголовков */
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --heading-text-color: #000028;
  
  --main-font: 'IBM Plex mono', monospace;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
