/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;

  --decor-color: #353430; /* уголки + REC */
  --button-color: #353430; /* текст кнопок */
  --button-hover: rgb(50 49 45 / 0.4);

  --accent-color: #ff8dcb; /* фон заголовков */
  --text-color: #353430;
  --title-color: #ffc2e6;
  --heading-text-color: #353430;
}

/* скрываем REC только в светлой теме */
:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;

    --decor-color: #353430; /* уголки + REC */
    --button-color: #353430; /* текст кнопок */
    --button-hover: rgb(50 49 45 / 0.4);

    --accent-color: #ff8dcb; /* фон заголовков */
    --text-color: #353430;
    --title-color: #ffc2e6;
    --heading-text-color: #353430;
  }

  .rec {
    display: none;
  }
}
